.netrwhist
.VimballRecord

# java class
*.class

# python class
*.pyc

# vim swp
.*.*.swp
.*.swp

# Package Files #
*.jar
*.war
*.ear

# vim tags
tags
tags-cn

# logfile
*.log

# eclim folder
bundle/eclim/eclim
bundle/eclim/plugin
bundle/eclim/sun_checks.xml
