[core]
    excludesfile = /home/xinlei/.gitignoreglobal
    gitproxy = /home/xinlei/.local/bin/git2http
    sslVerify = false
    # gitproxy = /home/xinlei/.local/bin/goagent-wrapper
[http]
    proxy = http://127.0.0.1:8087
[user]
    name = xinleibird
    email = xinleibird@gmail.com
[color]
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[push]
    default = simple
